.about__wrapper {
  padding-top: 33px;
  padding-bottom: 10px;
}

.about__title {
  @include header;
  margin-bottom: 28px;
}

.about__list {
  @include list-reset;
}

.about__item {
  padding-top: 58px;
  margin-bottom: 25px;

  @include font-set(17px, 20px, 700);

  &--eco {
    background: url("../img/icon-feature-flower.svg") 7px 2px no-repeat;
  }

  &--style {
    background: url("../img/icon-feature-money.svg") 0 4px no-repeat;
  }

  &--likes {
    background: url("../img/icon-feature-heart.svg") 7px 9px no-repeat;
  }

  &--handmade {
    background: url("../img/icon-feature-ball.svg") 6px 6px no-repeat;
  }

  &--support {
    background: url("../img/icon-feature-rocket.svg") 0 7px no-repeat;
  }

  &--gift {
    background: url("../img/icon-feature-gift.svg") 4px 5px no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    padding-top: 65px;
    margin-bottom: 22px;
    width: $tablet-width;
  }

  .about__title {
    @include header(43px, 50px, 700);
    margin-bottom: 44px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__item {
    width: 50%;
    padding-right: 35px;
    margin-bottom: 53px;

    @include font-set(20px, 22px);

    &--eco {
      order: 1;
    }

    &--handmade {
      order: 2;
    }

    &--style {
      order: 3;
    }

    &--support {
      order: 4;
    }

    &--likes {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    padding: 82px 225px 5px;
    margin-bottom: 32px;
    width: 100%;
  }

  .about__title {
    margin-bottom: 45px;

    @include font-set(53px, 57px);
  }
}
