.button {
  padding: 14px 0;

  @include font-set(17px, 16px, 700);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $text-color;

  background-color: $white;
  border: $button-border;
  cursor: pointer;

  transition: 0.2s;

  &:hover,
  &:focus {
    outline: none;
    background-color: $text-color;
    color: $white;
  }

  &:active {
    outline: none;
    background-color: $text-color;
    color: rgba($color: $white, $alpha: 0.3);
  }
}
