.catalog-item {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  max-width: 315px;

  border: $border;

  transition: 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);

    transition: 0.3s;
  }

  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);

    transition: 0.3s;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);

    transition: 0.3s;
  }
}

.catalog-item__link {
  display: block;
  flex-shrink: 0;
}

.catalog-item__link img {
  display: block;
  margin: 0 auto;
  width: 260px;
}

.catalog-item__description {
  width: 100%;
  padding: 0 28px;
}

.catalog-item__title-link {
  display: block;
  color: $black;
}

.catalog-item__title {
  @include header(17px, 24px, 700);
  margin-bottom: 5px;
  padding-top: 26px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__text {
  margin: 0;
  margin-bottom: 19px;

  @include font-set(13px, 30px);
  color: $text-color;
}

.catalog-item__bottom {
  padding: 21px 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: $border;
}

.catalog-item__price {
  @include font-set(15px, 24px, 700);
}

.catalog-item__buy svg {
  width: 20px;
  height: 19px;

  opacity: 0.2;
}

.catalog-item__buy {
  &:hover svg,
  &:focus svg {
    opacity: 1;
    fill: $main-color;
  }

  &:active svg {
    opacity: 0.3;
    fill: $main-color;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    margin-bottom: 52px;
    max-width: none;
  }

  .catalog-item__link {
    margin-bottom: 0;
  }

  .catalog-item__link img {
    width: 334px;
    height: 334px;
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .catalog-item__title {
    @include font-set(20px, 24px);
  }

  .catalog-item__text {
    @include font-set(15px, 30px);
  }

  .catalog-item__bottom {
    width: 100%;
  }

  .catalog-item__price {
    @include font-set(17px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-item {
    margin-bottom: 57px;
    width: 30%;
    flex-direction: column;
  }

  .catalog-item:not(:nth-child(3n)) {
    margin-right: 51px;
  }

  .catalog-item__link img {
    width: 316px;
    height: 462px;
  }

  .catalog-item__description {
    flex-grow: 1;
  }

  .catalog-item__text {
    margin-bottom: 14px;
  }
}
