.catalog-item {
  margin-bottom: 30px;
  width: 100%;

  border: $border;
}

.catalog-item__link {
  display: block;
}

.catalog-item__image {
  display: block;
}

.catalog-item__description {
  width: 100%;
  padding: 0 28px;
}

.catalog-item__title-link {
  display: block;
  color: $black;
}

.catalog-item__title {
  @include header(17px, 24px, 700);
  margin-bottom: 15px;
  padding-top: 30px;
}

.catalog-item__text {
  @include font-set(13px, 30px);
  color: $text-color;
}

.catalog-item__bottom {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: $border;
}

.catalog-item__price {
  @include font-set(15px, 24px, 700);
}

.catalog-item__add-cart path {
  fill: #d3d2d2;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog-item__link {
    margin-bottom: 0;
  }

  .catalog-item__link img {
    width: 334px;
    height: 334px;
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .catalog-item__title {
    @include font-set(20px, 24px);
  }

  .catalog-item__text {
    @include font-set(15px, 30px);
  }

  .catalog-item__bottom {
    width: 100%;
  }

  .catalog-item__price {
    @include font-set(17px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-item {
    margin-bottom: 57px;
    width: 30%;
    flex-direction: column;
  }

  .catalog-item:not(:nth-child(3n)) {
    margin-right: 51px;
  }

  .catalog-item__link img {
    width: 316px;
    height: 462px;
  }

  .catalog-item__description {
    flex-grow: 1;
  }
}
