.category-list {
  @include list-reset;
}

.category-list__item {
  position: relative;
  width: 100%;
}

.category-list__link {
  display: block;
  min-height: 103px;
  padding: 26px 50% 29px 29px;

  @include font-set(19px, 24px, 700);

  color: $white;

  &--interior {
    background-color: $main-color;

    &::after {
      position: absolute;
      content: "";
      width: 41px;
      height: 62px;
      top: 54px;
      right: 36px;
      transform: translate(0, -50%);

      background: url("../img/icon-interior.svg") center center no-repeat;
      opacity: 0.5;
    }
  }

  &--kids-toy {
    background-color: $main-color--darker;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      top: 51px;
      right: 27px;
      transform: translate(0, -50%);

      background: url("../img/icon-toy.svg") center center no-repeat;
      opacity: 0.5;
    }
  }
}

@media (min-width: $tablet-width) {
  .category {
    background-color: $bg-color--index;
  }

  .category-list {
    @include wrapper-tablet;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .category-list__item {
    display: flex;
    min-height: 119px;
    width: 50%;
  }

  .category-list__link {
    max-width: 100%;
    padding: 28px 50% 33px 35px;
    flex-grow: 1;

    @include font-set(20px, 30px, 700);

    transition: 0.3s;

    &--interior::after {
      top: 60px;

      transition: 0.3s;
    }

    &--kids-toy::after {
      top: 60px;
      right: 35px;

      transition: 0.3s;
    }

    &:hover::after,
    &:focus::after {
      opacity: 0.7;
      top: 55px;

      transition: 0.3s;
    }

    &:focus-within::after {
      opacity: 0.7;
    }

    &:active::after {
      opacity: 0.3;
    }

    &:hover,
    &:focus {
      padding-bottom: 38px;
      margin-top: -5px;
      transition: 0.3s;
    }

    &:focus-within {
      padding-bottom: 38px;
      margin-top: -5px;
      transition: 0.3s;
    }

    &--interior:hover,
    &--interior:focus,
    &--interior:active {
      background-color: $main-color--active;
    }

    &--interior:focus-within {
      background-color: $main-color--active;
    }

    &--kids-toy:hover,
    &--kids-toy:focus,
    &--kids-toy:active {
      background-color: $main-color--diff;
    }

    &--kids-toy:focus-within {
      background-color: $main-color--diff;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .category-list {
    width: $desktop-width;
    margin-bottom: 20px;
  }

  .category-list__link {
    padding-right: 350px;
  }
}
