.category-list {
  @include list-reset;

  &--interior {
    background-color: $main-color;
  }

  &--kids-toy {
    background-color: #56c3b2;
  }
}

.category-list__link {
  display: block;
  padding: 30px;

  @include font-set(19px, 24px, 700);

  color: #ffffff;
}
