.copyright {
  width: 182px;
  padding: 16px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  @include font-set(19px, 24px, 700);
}

.copyright__link {
  color: $black;

  & svg {
    width: 27px;
    height: 34px;
    padding-top: 2px;
    fill: $main-color;
  }

  &:hover svg,
  &:focus svg {
    fill: $main-color--diff;
  }

  &:active svg {
    opacity: 0.3;
    fill: $main-color--diff;
  }

  &:active .copyright__text {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding: 10px 0;
  }
}
