.copyright {
  width: 182px;
  // min-height: 80px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  @include font-set(19px, 24px, 700);
}

.copyright__link {
  width: 27px;
  height: 34px;
}

.copyright__logo path {
  fill: $main-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }
}
