.main-nav {
  position: relative;

  & a[href]:hover,
  & a[href]:focus {
    color: rgba($black, 0.6);
  }

  & a[href]:active {
    color: rgba($black, 0.3);
  }
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  right: 30px;

  border: none;
  background-color: transparent;

  transition: all 0.2s ease-in-out;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;

    background-color: #231f20;
    transition: all 0.2s ease-in-out;
  }

  &::before {
    top: 2px;
    right: 0;

    box-shadow: 0 6px 0 0 #231f20;
  }

  &::after {
    top: 14px;
    right: 0;
  }
}

.main-nav__logo[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  top: 8px;
  width: 27px;
  right: -3px;
  box-shadow: 0 6px 0 0 rgba(#231f20, 0);

  transition: all 0.2s ease-in-out;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
  width: 27px;
  top: 8px;
  right: -3px;

  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .main-nav {
    &--no-js .main-nav__toggle {
      display: none;
    }

    &--closed .main-nav__list {
      display: none;
    }

    &--opened:not(.main-nav--no-js) {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      z-index: 5;
    }
  }

  .main-nav--opened:not(.main-nav--no-js) .main-nav__list {
    display: block;

    background-color: $white;
  }
}

.main-nav__logo-wrapper {
  border-top: $border;
  border-bottom: $border;
}

.main-nav__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding: 21px 0 16px;
}

.main-nav__logo img {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    @include wrapper-tablet;
    width: 100%;
    max-width: 1150px;

    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-wrapper {
    width: 45%;
    order: 1;

    border: none;
  }

  .main-nav__logo {
    width: 113px;
    padding: 22px 0 20px;
    margin: 0;
    margin-left: -2px;

    text-align: left;

    border: none;
  }

  .main-nav__logo img {
    display: block;
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    @include wrapper-tablet;
    width: $desktop-width;
  }

  .main-nav__logo-wrapper {
    order: 2;
    width: 150px;
    margin-left: 30px;
    margin-right: auto;
  }

  .main-nav__logo {
    width: 149px;
    padding: 9px 0 7px;
    margin: 0;
  }

  .main-nav__logo img {
    width: 149px;
    height: 72px;
  }
}
