.order {
  @include wrapper;
}

.order__text {
  margin: 0;
  margin-bottom: 30px;

  @include font-set(13px, 24px);
}

.order-form__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  @include font-set(17px, 18px, 700);
  border: none;

  &--name {
    margin-bottom: 10px;
  }

  &--tel {
    margin-bottom: 10px;
  }

  &--plus {
    margin-bottom: 10px;
  }
}

.order-form__legend {
  margin-bottom: 20px;

  color: $main-color;
  text-transform: uppercase;

  &--name {
    margin-bottom: 30px;
  }

  &--tel {
    margin-bottom: 12px;
  }

  &--tel {
    margin-bottom: 13px;
  }

  &--plus {
    margin-bottom: 20px;
  }
}

.order-form__list {
  @include list-reset;
}

.order-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 16px 0;

  color: $text-color;

  border: none;
  border-bottom: $border-width solid $black;

  &:hover {
    border-bottom: $border-width solid $main-color;
  }

  &:focus {
    outline: none;
    border-bottom: $border-width solid $main-color;
  }
}

.order-form__input::placeholder {
  @include font-set(17px, 18px);
  color: $text-color;
  opacity: 0.3;
}

.radio-list__label,
.checkbox-list__label {
  padding-left: 62px;
}

.radio-list__item {
  margin-bottom: 40px;
}

.radio-list__label {
  position: relative;

  &::before {
    position: absolute;
    top: -3px;
    left: -5px;
    content: "";
    width: 40px;
    height: 40px;

    border: $border-width solid $text-color;
    border-radius: 50%;
    cursor: pointer;
  }
}

.checkbox-list__item {
  margin-bottom: 40px;
}

.checkbox-list__label {
  position: relative;

  &::before {
    position: absolute;
    top: -3px;
    left: -5px;
    content: "";
    width: 40px;
    height: 39px;

    border: $border-width solid $text-color;
    cursor: pointer;
  }
}

.textarea__input {
  width: 100%;
  height: 106px;
  resize: none;
  padding: 16px;

  color: $text-color;

  border: $border-width solid $black;

  &:hover {
    border: $border-width solid $main-color;
  }

  &:focus {
    outline: none;
    border: $border-width solid $main-color;
  }
}

.textarea__input::placeholder {
  @include font-set(17px, 18px);
  color: $text-color;
  opacity: 0.3;
}

.order-form__button {
  display: block;
  width: 100%;
}
