.order__text {
  @include wrapper;
  margin-bottom: 10px;

  @include font-set(13px, 24px);
}

.order-form__fieldset {
  padding: 0;
  margin: 0;

  @include font-set(17px, 18px, 700);
  border: none;

  &--radio {
    padding: 10px 0 9px;
  }

  &--checkbox {
    padding: 12px 0 0;
  }

  &--tel {
    margin-top: -1px;
    padding-bottom: 2px;
  }

  &--mail {
    padding-bottom: 3px;
  }

  &--plus {
    padding-bottom: 9px;
  }
}

.order-form__wrapper {
  @include wrapper;
  padding-top: 5px;
  padding-bottom: 5px;
}

.order-form__legend {
  @include header;
  margin-bottom: 23px;

  @include font-set(17px, 16px, 700);
  color: $main-color;
  text-transform: uppercase;

  &--name {
    margin-bottom: 29px;
  }

  &--tel {
    margin-bottom: 8px;
  }

  &--mail {
    margin-bottom: 9px;
  }

  &--plus {
    margin-bottom: 24px;
  }
}

.order-form__list {
  @include list-reset;
}

.order-form__input-wrapper {
  margin: 0;
}

.order-form__bottom {
  padding: 0 30px;
  margin-bottom: 55px;
}

.order-form__text {
  display: block;

  @include font-set(14px, 16px);
  margin-bottom: 29px;
}

.order-form__button {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {
    @include wrapper-tablet;
    width: $tablet-width;
    padding-bottom: 8px;
    display: flex;
  }

  .order__text {
    margin-bottom: 20px;

    @include font-set(17px, 30px);
  }

  .order-form__fieldset {
    @include font-set(19px, 18px);

    &--radio {
      padding: 36px 0 19px;
    }

    &--checkbox {
      padding: 50px 0 18px;
    }

    &--name {
      padding: 50px 0 17px;
    }

    &--tel {
      padding-top: 54px;
    }

    &--mail {
      margin-top: -4px;
      padding-bottom: 50px;
    }

    &--plus {
      padding: 21px 0 17px;
      margin-bottom: 20px;
    }

    &:nth-child(2) {
      background-color: $bg-color;
    }

    &:nth-child(4) {
      background-color: $bg-color;
    }

    &:nth-child(5) {
      background-color: $bg-color;
    }
  }

  .order-form__legend {
    width: 25%;
    padding: 19px 5px 21px 0;
  }

  .order-form__list {
    width: 75%;
  }

  .order-form__bottom {
    @include wrapper-tablet;
    width: $tablet-width;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .order-form__text {
    width: 300px;
    order: 1;

    text-align: right;
  }

  .order-form__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .order__text {
    width: $desktop-width;
    padding: 0 225px;
  }

  .order-form__wrapper {
    width: $desktop-width;
  }

  .order-form__legend {
    width: 175px;

    text-align: center;
  }

  .order-form__bottom {
    width: $desktop-width;
    padding: 0 225px;
  }
}
