.page-footer {
  min-height: 80px;

  background-color: $bg-color;
}

.page-footer__wrapper {
  @include wrapper;
  width: 100%;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include wrapper-tablet;
    padding-top: 21px;
    padding-bottom: 20px;
    max-width: 1150px;
    min-height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    padding: 5px 0;
    width: 185px;

    & svg {
      width: 102px;
      height: 34px;
    }

    &[href]:hover svg,
    &[href]:focus svg {
      opacity: 1;
      fill: $main-color--diff;
    }

    &[href]:active svg {
      opacity: 0.3;
      fill: $main-color--diff;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 19px;
  }
}
