.page-footer {
  min-height: 80px;

  background-color: $bg-color;
}

.page-footer__wrapper {
  @include wrapper;
  width: 100%;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include wrapper-tablet;
    width: $tablet-width;
    min-height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
  }
}
