.page-main__intro {
  margin-bottom: 30px;

  min-height: 177px;

  text-align: center;

  background-color: $bg-color;

  &--index {
    margin: 0;
    min-height: 283px;
    background: $bg-color url("../img/hero-mobile@1x.jpg") center center no-repeat;
  }
}

.page-main__title {
  @include header(27px, 30px, 700);
  width: 260px;
  padding: 75px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__intro {
    margin-top: -60px;
    margin-bottom: 60px;

    &--index {
      min-height: 745px;
      margin-bottom: 0;
      background: $bg-color url("../img/hero-tablet@1x.jpg") center center no-repeat;
    }
  }

  .page-main__title {
    width: 500px;
    padding: 130px 0;

    @include font-set(43px, 50px, 700);
  }
}

@media (min-width: $desktop-width) {
  .page-main__intro {
    &--index {
      background: $bg-color url("../img/hero-desktop@1x.jpg") center center no-repeat;
    }
  }

  .page-main__title {
    width: 700px;
    padding: 150px 0;

    @include font-set(53px, 57px, 700);
  }
}
