.page-header {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width;
    @include wrapper-tablet;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
    @include wrapper-tablet;
  }
}
