.production {
  @include wrapper;
  width: 100%;
}

.production__wrapper {
  padding-top: 24px;
  padding-bottom: 33px;
  margin-bottom: 58px;
  border: $border;

  transition: 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    transition: 0.3s;
  }

  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    transition: 0.3s;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    transition: 0.3s;
  }
}

.production__title-wrapper {
  margin-bottom: 25px;
}

.production__title {
  @include header;
  position: relative;
  padding: 0 42px 0 90px;

  @include font-set(17px, 24px);

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 32px;
    width: 32px;
    height: 22px;

    background: url("../img/icon-video.svg") center center no-repeat;
  }
}

.production__top {
  position: relative;
  margin-bottom: 23px;

  text-align: center;
}

.production__video-control {
  position: absolute;
  width: 102px;
  height: 78px;
  left: 50%;
  top: 50%;
  margin-top: -41px;
  margin-left: -51px;

  border: none;
  background: url("../img/icon-play.svg") center center no-repeat;

  transition: 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: 0.4s;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__bottom {
  padding: 0 34px;
}

.production__text {
  margin: 0;
  margin-bottom: 25px;

  @include font-set(13px, 24px);
}

.production__button {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .production {
    @include wrapper-tablet;
    width: $tablet-width;
  }

  .production__wrapper {
    padding-top: 0;
    padding-bottom: 45px;
    margin-bottom: 63px;
    display: flex;
    flex-wrap: wrap;
  }

  .production__top {
    width: 100%;
    margin-bottom: 32px;
    order: -1;
  }

  .production__title-wrapper {
    width: 100%;
    margin-bottom: 32px;
  }

  .production__title {
    padding-left: 105px;

    @include font-set(20px, 24px);

    &::before {
      top: 0;
      left: 40px;
    }
  }

  .production__bottom {
    padding: 0 40px;
  }

  .production__text {
    margin-bottom: 36px;

    @include font-set(15px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: $desktop-width;
  }

  .production__wrapper {
    position: relative;
    min-height: 455px;
    padding-bottom: 0;
    margin-bottom: 103px;
    flex-direction: column;
    align-items: flex-end;
  }

  .production__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }

  .production__title-wrapper {
    width: 350px;
    padding-top: 45px;
    margin-bottom: 34px;
  }

  .production__title {
    padding: 48px 58px 0 62px;

    &::before {
      top: 0;
      left: 62px;
    }
  }

  .production__bottom {
    width: 350px;
    padding: 0 58px 60px 62px;
  }

  .production__text {
    margin-bottom: 45px;
  }
}
