.reviews {
  margin: 0 auto;
}

.reviews__wrapper {
  @include wrapper;
  position: relative;
  padding-top: 20px;
  padding-bottom: 46px;
}

.reviews__title {
  @include header;
  margin-bottom: 23px;
}

.reviews__item {
  margin: 0;

  @include font-set(15px, 30px);
}

.reviews__text {
  margin: 0;
  margin-bottom: 24px;
}

.reviews__author {
  @include font-set(17px, 30px);
  font-style: normal;
}

.reviews__author-name {
  display: block;
  font-weight: 700;
}

.reviews__tag {
  margin: 0;
}

.reviews__controls {
  display: flex;
  margin-top: 29px;
  margin-bottom: 38px;
}

.reviews__control {
  width: 50%;
  min-height: 52px;

  // background-color: transparent;
  border: $border;
  cursor: pointer;

  &--prev {
    background: url("../img/icon-left-arrow.svg") center center no-repeat;
  }

  &--next {
    background: url("../img/icon-right-arrow.svg") center center no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: $tablet-width;
    background: url("../img/review@1x.jpg") left top no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    @include wrapper-tablet;
    padding-top: 75px;
    padding-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__title {
    @include header(43px, 50px);
    margin-bottom: 50px;
  }

  .reviews__list {
    order: 1;
  }

  .reviews__text {
    @include font-set(17px, 30px);
    margin-bottom: 56px;
  }

  .reviews__author {
    display: block;
    width: 50%;
  }

  .reviews__author-name {
    margin-bottom: 5px;

    @include font-set(18px, 24px);
  }

  .reviews__controls {
    position: absolute;
    margin: 0;
    right: 55px;
    bottom: 50px;
    width: 167px;
  }

  .reviews__control {
    border: none;
  }

  .reviews__button {
    width: 175px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include wrapper-tablet;
    width: $desktop-width;
    position: relative;

    background: none;
  }

  .reviews__wrapper {
    padding: 70px 0 94px 175px;

    background: url("../img/review@1x.jpg") left top no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    @include header(53px, 57px);
    margin-bottom: 49px;
  }

  .reviews__text {
    padding-right: 100px;
    margin-bottom: 38px;
  }

  .reviews__author-name {
    @include font-set(17px, 24px);
  }

  .reviews__controls {
    right: 5px;
    bottom: 97px;
  }

  .reviews__button {
    margin-top: 4px;
  }
}
