.site-list {
  @include list-reset;
  width: 100%;

  font-weight: 700;

  z-index: 5;
}

.site-list__item {
  position: relative;
  width: 100%;
  border-bottom: $border;

  &--new,
  &--sale {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding: 26px 20px 28px 75px;

  color: #000000;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 230px;

    order: 3;
  }

  .site-list__item {
    width: auto;

    border: none;

    @include font-set(15px, 24px, 700);

    z-index: 2;
  }

  .site-list__link {
    display: block;

    &--catalog {
      padding: 18px 16px 5px 0;
    }

    &--form {
      padding: 18px 20px 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 420px;
    margin-right: 0;
    order: 1;
  }

  .site-list__item {
    &--catalog {
      font-size: $font-size;

      border-right: $border;
    }

    &--form {
      font-size: $font-size;
    }

    &--new {
      display: block;
      order: 6;

      font-size: 15px;

      z-index: 2;
    }

    &--sale {
      display: block;
      order: 7;

      font-size: 15px;

      z-index: 2;
    }
  }

  .site-list__link {
    &--catalog {
      padding: 32px 35px 32px 0;
    }

    &--form {
      padding: 32px 15px 32px 34px;
    }

    &--new {
      padding: 18px 18px 5px 0;
    }

    &--sale {
      padding: 18px 10px 5px 44px;
    }
  }
}
