.social {
  width: 147px;
  margin: 0 auto;

  border-bottom: $border;
}

.social__list {
  @include list-reset;
  padding: 25px 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__item:not(:nth-child(3n)) {
  margin-right: 40px;
}

.social__item {
  margin-bottom: 5px;
}

.social__link img {
  max-width: 24px;
  max-height: 29px;
}


@media (min-width: $tablet-width) {
  .social {
    margin: 0;
  }

  .social__list {
    padding-top: 33px;
  }
}
