.social {
  border-bottom: $border;
}

.social__list {
  @include list-reset;
  margin: 0 auto;
  width: 147px;
  padding: 27px 0 17px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__item:not(:nth-child(3n)) {
  margin-right: 40px;
}

.social__item {
  margin-bottom: 5px;
}

.social__link {
  &:hover svg,
  &:focus svg {
    opacity: 1;
    fill: $main-color--diff;
  }

  &:active svg {
    opacity: 0.3;
    fill: $main-color--diff;
  }

  &:focus {
    outline: none;
  }
}

.social__icon {
  max-width: 24px;
  max-height: 29px;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;

    border-bottom: none;
  }

  .social__list {
    padding: 32px 0 20px;
  }
}
