.user-list {
  @include list-reset;
  width: 100%;

  font-weight: 700;

  z-index: 5;
}

.user-list__item {
  width: 100%;
  border-bottom: $border;
}

.user-list__item svg {
  margin-right: 24px;
  max-width: 21px;
  max-height: 21px;

  opacity: 0.2;
}

.user-list__link {
  display: flex;
  align-items: center;
  padding: 26px 20px 28px 30px;

  color: $black;

  &--search {
    padding-left: 32px;
  }

  &[href]:hover svg,
  &[href]:focus svg {
    opacity: 1;
    fill: $main-color;
  }

  &[href]:active svg {
    opacity: 0.3;
    fill: $main-color;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
  }

  .user-list__item {
    width: auto;

    border: none;

    &--search {
      width: 83px;

      @include font-set(0, 0);

      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }

    & svg {
      display: block;
      margin: 0 31px;
      flex-shrink: 0;
    }

    &--search svg {
      margin-left: 33px;
    }
  }

  .user-list__link {
    &--cart {
      padding: 32px 0;
    }

    &--search {
      padding: 36px 0 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 350px;
    align-items: flex-start;
    order: 3;
  }

  .user-list__item--cart {
    width: 267px;
  }

  .user-list__link {
    &--cart {
      padding: 32px 2px 31px 0;
    }

    &--search {
      padding: 36px 0 34px;
    }
  }
}
