.zigzag-line {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .zigzag-line {
    &::before {
      height: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .zigzag-line {
    &::before {
      height: 23px;
    }
  }
}
