html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  word-wrap: break-word;
  font-family: $font-primary;
  font-size: $font-size;
  line-height: $line-height;
  color: $black;

  background-color: $bg-color--body;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &--focusable:focus,
  &--focusable:active {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    clip: auto;
    overflow: visible;
    white-space: normal;
  }
}
