@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin header {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

@mixin wrapper {
  margin: 0 30px;
}

@mixin font-set($size: 17px, $line-height: 24px, $weight:null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}
