$font-primary: "OpenSans", "Arial", sans-serif;
$font-size: 17px;
$line-height: 24px;

$black: #000000;
$white: #ffffff;
$text-color: #444444;
$main-color: #63d1bb;
$main-color--active: #59d5bc;
$main-color--darker: #56c3b2;
$main-color--diff: #46c1ae;
$bg-color--body: $white;
$bg-color: #f1f1f1;
$bg-color--index: #f9f9f9;

$border-color: #ececec;
$border-min-width: 1px;
$border-width: 2px;
$border: $border-min-width solid $border-color;
$button-border: $border-width solid $text-color;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
